deps/libxmljs/src/*.o
deps/libxmljs/src/natives.h
deps/libxmljs/src/*.a
deps/libxmljs/src/*.node
deps/libxmljs/*.a
deps/libxmljs/*.node
deps/libxmljs/.scon*
deps/libxmljs/config.log
deps/libxmljs/src/*.os
deps/libxmljs/libxmljs
deps/libxmljs/tools/*.pyc
deps/libxmljs/benchmarks
deps/libxmljs/experiments
deps/libxmljs/notes
deps/libxmljs/TODO
**/*.swp
*.log
**/*.swo
*.swp
deps/sasljs/.lock-wscript
deps/sasljs/build
deps/sasljs/lib/binding_sasl.node
loc
